<%- include('partials/header') %>

<main class="page">
    <section class="content">
        <h1 class="content-title">S'inscrire sur Surfer-Brands</h1>
        <p class="content-desc">Inscrivez vous pour ajouter des surfers</p>


<form action="/signup" method="POST" class="search">


  <div class="form-label-group">
    <input type="name" class="search-row" id="name" name="name" aria-describedby="lastnameHelp"
      placeholder="Votre nom">
      <label for="name">Votre nom</label>
  </div>

  <div class="form-label-group">
    <input type="email" class="search-row" id="email" name="email" aria-describedby="emailHelp"
      placeholder="Votre courriel">
      <label for="email">Votre courriel</label>
  </div>

  <div class="form-label-group">
    <input type="password" class="search-row" id="password" name="password" placeholder="Votre mot de mot de passe">
    <label for="password">Votre mot de mot de passe</label>
  </div>

  </div>

  <div class="form-group text-center">
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </div>
</form>

</section>
</main>

<%- include('partials/footer') %>